<h2>Products</h2>

<div *ngFor = "let product of products">
  <h3> 
    <a href="{{product.link}}">
    {{product.name}}
    </a>
  </h3>

  <img src="{{product.image}}" alt="product image" height="150px">

  <p *ngIf="product.description" id="descr">
    {{product.description}}
  </p>


  <div style="font-size: 16px; display: inline; margin: 0;">
    Rating: {{stars(product.rating, true)}}<div style="position:relative;font-size: 25px;outline: none; margin: 0; top: 3px">{{stars(5-product.rating, false)}}</div>
  </div>


  <button type="button" (click)="share(product)" style="width: 70px; margin-top: 20px">
    Share
  </button>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->